body {
	margin: 0;
	background-color: rgb(190,70,70);
}



img {
	padding-top: 1vw;
}

#desktop {
	visibility: visible;
}

#mobile {
	height: 0px;
	visibility: hidden;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.mainText {
	margin: 0;
	text-align: center;
	font-family: cooper-black-std, serif;
	font-style: normal;
	font-weight: 400;
	color: rgb(220,150,0);
	font-size: 7vw;
}

@media only screen 
and (max-device-width : 812px) { 

	img {
		padding-top: 2vw;
	}
	
	#desktop {
		position: absolute;
		visibility: hidden;
		height: 0px;
	}

	#mobile {
		position: absolute;
		visibility: visible;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
	}

	.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 95%;
	}

	.mainText {
		margin: 0;
		text-align: center;
		font-family: cooper-black-std, serif;
		font-style: normal;
		font-weight: 400;
		color: rgb(220,150,0);
		font-size: 16vw;
	}


}
